<script>
  const USER_ID = "{% if user.is_authenticated %}{{ user.id }}{% else %}anonymous{% endif %}";
</script>
<div class="album py-5 bg-light">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for record in object_list %}

      <div class="col">
        <div class="card shadow-sm">

          <img src="{{ record.image1.url }}"
               class="card-img-top"
               style="width:100%; height:225px; object-fit:cover;">
          {% if object.image2 %}
          <img src="{{ record.image2.url }}"
               class="card-img-top"
               style="width:100%; height:225px; object-fit:cover;">
          {% endif %}

          <div class="card-body">

            <p class="card-text">
              {{ record.title }}
            </p>

            <p class="card-text">
              {{ record.comment|safe }}
            </p>

            <div class="d-flex justify-content-between align-items-center">

              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary"
                onclick="location.href='{% url 'photo:photo_detail' record.pk %}'">View</button>
                <button type="button" class="btn btn-sm btn-outline-secondary"
                onclick="location.href='{% url 'photo:photos_映画ポスター' record.category.id %}'">{{record.category.title}}</button>
              </div>

              <div>
                
                {% if user.is_authenticated %}
                  <button class="btn btn-sm btn-outline-danger"
                          onclick="likePost('{{ record.id }}')">
                    ❤️
                  </button>
                {% else %}
                  <a href="{% url 'accounts:login' %}" class="btn btn-sm btn-outline-secondary">
                    ログインしていいね
                  </a>
                {% endif %}

                <!--<button class="btn btn-sm btn-outline-danger"
                        onclick="likePost('{{ record.id }}')">
                  ❤️
                </button>-->
                <span id="like-count-{{ record.id }}">{{ record.like_count|default:0 }}</span>
              </div>

            </div>
            <a href="{% url 'photo:user_list' user=record.user.id %}">
              <small class="text-muted">{{ record.user.username }}</small>
            </a>
          </div>
        </div>
      </div>

      {% endfor %}
    </div>

  </div>
</div>